<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User CRM</title>
    
    <base href="/">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.5/animate.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" >
    
    <!-- JS -->
    <!-- load angular and agular-route -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
    
    <!-- controllers -->
    <script type="text/javascript" src="app/controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="app/controllers/userCtrl.js"></script>
    
    <!-- services -->
    <script type="text/javascript" src="app/services/authService.js"></script>
    <script type="text/javascript" src="app/services/userService.js"></script>
    
    <!-- main angular app files -->
    <script type="text/javascript" src="app/app.routes.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

</head>
<body ng-app="userApp" ng-controller="mainController as main">
    
<header>
    
    <div class="navbar navbar-inverse" ng-if=main.loggedIn>
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-fire text-danger"></span> User CRM</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!main.loggedIn"><a href="/login">Login</a></li>
            <li ng-if="main.loggedIn" class="navbar-text">Hello {{ main.user.name }}!</li>
            <li ng-if="main.loggedIn"><a href="#" ng-click="main.doLogout()">Logout</a></li>
        </ul>
    </div>
    </div>
    
</header>
    
<main class="container">
    <div ng-view></div>
</main>


</body>
</html>