main
{
    padding-top: 30px;
}
header .navbar
{
    border-radius: 0;
}
.spinner
{
    animation:spin 1s infinite;
    -webkit-animation:spin 1s infinite;
    -moz-animation:spin 1s infinite;
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform:rotate(0deg); }
    to { -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform:rotate(0deg); }
    to { -moz-transform:rotate(360deg); }
}

.alert
{
    color: #FFFFFF;
    background-color: #C03030;
}
.alert-info
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.show-hide-message.ng-hide-remove
{
    -webkit-animation:zoomIn 0.3s both ease;
    -moz-animation:zoomIn 0.3s both ease;
    animation:zoomIn 0.3s both ease;
}
.show-hide-message.ng-hide-add
{
    -webkit-animation:zoomIn 0.3s both ease;
    -moz-animation:zoomIn 0.3s both ease;
    animation:zoomIn 0.3s both ease;
}