<div class="page-header">
    <h1 ng-if="user.type == 'create'">Create User</h1>
    <h1 ng-if="user.type == 'edit'">Edit User</h1>
</div>

<form class="form-horizontal" ng-submit="user.saveUser()">
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
            <input required type="text" class="form-control" ng-model="user.userData.name">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-6">
            <input required type="text" class="form-control" ng-model="user.userData.username">
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>
        <div class="col-sm-6">
            <input required type="password" class="form-control" ng-model="user.userData.password">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'create'">Create User</button>
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="user.type == 'edit'">Update User</button>
        </div>
    </div>
    
    <div class="row show-hide-message" ng-show="user.message">
        <div class="col-sm-6 col-sm-offset-2">
            
            <div class="alert alert-info">
                {{ user.message }}
            </div>
            
        </div>
    </div>
    
</form>